.filter {
  margin: auto;
  width: 80%;
  padding-top: 20px;
  border-style: none;
}

.disappear {
  display:none;
}

#input {
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
}

#keywordinput {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

#distance {
  width: 100%;
  display: flex;
}

#prices {
  width: 100%;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
}

#cuisine {
  width: 100%;
  display: flex;
  padding-bottom: 80px;
}

#chewsbuttondiv {
  width: 100%;
  display: flex;
}

#chewsbutton {
  width: 100%;
  margin: auto;
  border-style: none;
  border-radius: 5px;
  box-shadow: 5px 5px 0px #5C7CBE;
  padding: 0;
}

#chewsbutton:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 15px 1px #5C7CBE;
}

#mcbutton {
  width: 100%;
}

.keyworddiv {
  margin-bottom: 30px;
}

#note {
  font-size: 12px;
}