.instructions {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
}

.instruction {
  height: 90%;
  width: 1000px;
  margin: 5vh auto;
  z-index: 11;
  background: #ffffff;
  border-radius: 15px;
  padding: 30px;
  color: #5c7cbe;
  padding: 40px 50px;
  overflow: auto;
  position: relative;
  min-width: 1000px;
}

.instructionheader {
  font-family: "Patrick Hand", cursive;
  letter-spacing: 0.3rem;
  font-size: 45px;
  margin-bottom: 20px;
}

.instructioncontent {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 35px;
}

.infoimg {
  margin: 0 auto;
  margin-bottom: 30px;
}

.xbutton {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 12;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  padding: 0;
}