.intro {
  height: fit-content;
  width: 100%;
  background-color: #5c7cbe;
  text-align: center;
  overflow: auto;
}

#intrologo {
  width: 800px;
  height: 300px;
  margin: 80px auto;
}

#inputdiv {
  width: 750px;
  margin: 80px auto 20px auto;
}

#filterdiv {
  width: 110px;
  height: 40px;
  margin: 0 auto 20px auto;
}

#introinput {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  padding: 0 10px;
}

#introinputempty {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: solid 2px rgb(245, 52, 52);
  padding: 0 10px;
}

#introinput:focus {
  border-style: none;
}

#filterdropdown {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-style: none;
  color: white;
  font-size: 15px;
}

#filterdropdown:active {
  transform: scale(0.98);
}

#caret {
  width: 40px;
  margin: 0 auto;
  transform: translateY(-30%);
}

.introbuttons {
  width: 300px;
  margin: 0 auto 57px auto;
  display: inline-block;
}

#ichewsbutton, #ibuildbutton {
  margin: auto;
  width: 300px;
  border-radius: 5px;
  border-style: none;
  background-color: white;
  padding: 0;
}

.nextbutton:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 15px 1px #97c4c7;
}

.ibuttons {
  border-style: none;
  background-color: transparent;
}

#ortext {
  width: 25px;
  color: white;
  margin: 10px auto 10px auto;
}
