.plate {
    width: 900px;
    height: 76%;
    border-style: none;
    display: block;
    margin: 30px auto 0px auto;
    position: relative;
}

.addplatetitle {
    font-size: 40px;
    width: 250px;
    height: 10%;
    margin: 0 auto;
    font-family: 'Patrick Hand', cursive;
    color: #5c7cbe;
    letter-spacing: 0.2rem;
}

.platetitle {
    font-size: 40px;
    width: 90px;
    height: 10%;
    margin: 0 auto;
    font-family: 'Patrick Hand', cursive;
    color: #5c7cbe;
    letter-spacing: 0.2rem;
}

.resultslist, .customlist {
    width: 100%;
    border-style: none;
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
}

#platebutton {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border-style: solid;
    border-color: #5c7cbe;
    border-radius: 5px;
    padding: 0px;
}

.invertedfk {
    background-color: #5c7cbe;
}