.tab {
    height: 40px;
    width: 200px;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
}

.buttontab {
    width: 200px;
    padding: 5px;
    font-family: 'Martel Sans', sans-serif;
    font-size: 20px;
    border-radius: 15px 15px 0px 0px;
    border-style: none;
}