.homepricebuttons {
  width: 182px;
  margin: 10px auto 30px auto;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 7px;
}

#homepbutton1,#homepbutton2,#homepbutton3 {
  width: 60px;
  height: 100%;
  background-color: transparent;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(138deg) brightness(103%) contrast(101%);
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 2px 1px;
}

#homepbutton1 {
  border-radius: 7px 0 0 7px;
  border-width: 2px 1px 2px 2px;
}

#homepbutton3 {
  border-radius: 0 7px 7px 0;
  border-width: 2px 2px 2px 1px;
}

#homepbutton1on,#homepbutton2on,#homepbutton3on {
  width: 60px;
  height: 100%;
  background-color: transparent;
  color: #8CB0DD;
  border-style: solid;
  border-color: #8CB0DD;
  border-width: 2px 1px;
}

#homepbutton1on {
  border-radius: 7px 0 0 7px;
  border-color: #8CB0DD;
  border-width: 2px 1px 2px 2px;
}

#homepbutton3on {
  border-radius: 0 7px 7px 0;
  border-color: #8CB0DD;
  border-width: 2px 2px 2px 1px;
}

.hpbuttondollar {
  width: 15px;
}

.hpbuttondollarholder1 {
  display: flex;
  width: 15px;
  margin: auto;
}

.hpbuttondollarholder2 {
  display: flex;
  width: 30px;
  margin: auto;
}

.hpbuttondollarholder3 {
  display: flex;
  width: 45px;
  margin: auto;
}

.hpbuttondollarholder1on {
  display: flex;
  width: 15px;
  margin: auto;
  filter: invert(65%) sepia(84%) saturate(272%) hue-rotate(184deg) brightness(93%) contrast(85%);
}

.hpbuttondollarholder2on {
  display: flex;
  width: 30px;
  margin: auto;
  filter: invert(65%) sepia(84%) saturate(272%) hue-rotate(184deg) brightness(93%) contrast(85%);
}

.hpbuttondollarholder3on {
  display: flex;
  width: 45px;
  margin: auto;
  filter: invert(65%) sepia(84%) saturate(272%) hue-rotate(184deg) brightness(93%) contrast(85%);
}