.pricebuttons {
  width: 182px;
  margin: 0 auto;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 20px;

}

#intropbutton1,#intropbutton2,#intropbutton3 {
  width: 60px;
  height: 100%;
  border-style: solid;
  border-color: rgb(150, 150, 150);
  border-width: 1px;
}

#intropbutton1 {
  border-radius: 20px 0 0 20px;
}

#intropbutton3 {
  border-radius: 0 20px 20px 0;
}

#intropbutton1on,#intropbutton2on,#intropbutton3on {
  width: 60px;
  height: 100%;
  color: #8CB0DD;
  border-style: solid;
  border-color: #8CB0DD;
  border-width: 1px;
}

#intropbutton1on {
  border-radius: 20px 0 0 20px;
  border-color: #8CB0DD;
}

#intropbutton3on {
  border-radius: 0 20px 20px 0;
  border-color: #8CB0DD;
}