.item {
    width: 90%;
    height: 100px;
    border-style: solid;
    border-color: #5c7cbe;
    border-radius: 10px;
    border-width: 1px;
    position: relative;
    margin: 10px auto;
    padding: 10px;
}

#itembutton {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    background-color: transparent;
    padding: 0px;
    border-style: none;
}

.iteminfo {
    display: flex;
}

.itemname {
    font-size: 25px;
    margin-bottom: 5px;
}

.itemrating {
    font-size: 20px;
}

#star {
    width: 25px;
    height: 25px;
    margin: 0 30px 0 5px;
}

#dollar {
    width: 25px;
    height: 25px;
}