.pricebuttons {
  width: 182px;
  margin: 0 auto;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 7px;
}

#pbutton1,#pbutton2,#pbutton3 {
  width: 60px;
  height: 100%;
  background-color: transparent;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  filter: invert(75%) sepia(0%) saturate(0%) hue-rotate(154deg) brightness(102%) contrast(84%);
}

#pbutton1 {
  border-radius: 7px 0 0 7px;
}

#pbutton3 {
  border-radius: 0 7px 7px 0;
}

#pbutton1on,#pbutton2on,#pbutton3on {
  width: 60px;
  height: 100%;
  background-color: white;
  color: #8CB0DD;
  border-style: solid;
  border-color: #8CB0DD;
  border-width: 1px;
}

#pbutton1on {
  border-radius: 7px 0 0 7px;
  border-color: #8CB0DD;
}

#pbutton3on {
  border-radius: 0 7px 7px 0;
  border-color: #8CB0DD;
}

.pbuttondollar {
  width: 15px;
}

.pbuttondollarholder1 {
  display: flex;
  width: 15px;
  margin: auto;
}

.pbuttondollarholder2 {
  display: flex;
  width: 30px;
  margin: auto;
}

.pbuttondollarholder3 {
  display: flex;
  width: 45px;
  margin: auto;
}

.pbuttondollarholder1on {
  display: flex;
  width: 15px;
  margin: auto;
  filter: invert(65%) sepia(84%) saturate(272%) hue-rotate(184deg) brightness(93%) contrast(85%);
}

.pbuttondollarholder2on {
  display: flex;
  width: 30px;
  margin: auto;
  filter: invert(65%) sepia(84%) saturate(272%) hue-rotate(184deg) brightness(93%) contrast(85%);
}

.pbuttondollarholder3on {
  display: flex;
  width: 45px;
  margin: auto;
  filter: invert(65%) sepia(84%) saturate(272%) hue-rotate(184deg) brightness(93%) contrast(85%);
}